body {
  font-family: '微軟正黑體';
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-horizontal {
  align-content: center;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 10%;
  width: 60%;
  /* background-color: red; */
}

.btn {
  width: 100px;
  height: 40px;
  margin-top: 10%;
}

.btn_M {
  font-size: 17px;
  background-color: #48C9B0;
  border-color:#18A488;
}

.btn_M:hover {
  font-size: 17px;
  background-color: #18A488;
  border-color: #18A488;
  /* color:#117864  ; */
}

.btn_C {
  
  font-size: 17px;
  background-color:#F5B041;
  border-color: #F99027;
  margin-left: 30px;
}

.btn_C:hover  {
  
  font-size: 17px;
  background-color:#F99027 ;
  border-color: #F99027;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
