/*-------------------------
        Intro-carousel
-------------------------*/
body {
    font-family: '微軟正黑體';
}




#Intro img{
    height: 100vh;
}

#Intro .carousel-content {
    /* text-align: center; */

    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute; */
    height: 55%;
   
}

#Intro h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

#Intro h3 {
    color: #fff;
    align-items: center;
    position: relative;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/*-------------------------
        Header-Jumbotron
-------------------------*/
#header {
    background-image: url("https://i.imgur.com/voH5r4S.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
}

#header .btn {
    font-size: 17px;
    color:  #2E86C1;   
    border-color: #2E86C1;
   
    margin-top: 0%;
    opacity: 0.7;
    width: 9%;
    height: 6%; 
}

#header .btn:hover {
    font-size: 18px;
    /* background-color: #2E86C1; */
    border-color: #2E86C1;
    opacity: 1;
    width: 10%;
    height: 7%;
}

#header .right {
    /* margin-left: 8px; */
    
}

#header .left {
    margin-right: 8px;
    width: 9%;
    height: 6%; 
}

#header p {
    font-size: 18px;
    font-weight: 500;
    color: #5D6D7E;
}

.App {
    /* font-family: sans-serif;  */
    text-align: center;
    margin-top: 200px;
}

.cursor {
    display: inline-block;
    position: relative;
    font-weight: 550;
    font-size: 40px;
    color: #154360;
}

.cursor::after {
    content: "";
    margin: auto;
    position: absolute;
    right: -4px;
    top: -2px;
    width: 3px;
    height: 100%;
    background-color:  #154360;
    animation: cursor-animation 2.5s step-end infinite;
}
@keyframes cursor-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/*-------------------------
        About-Jumbotron
-------------------------*/

#about {
    background-color: #FDFEFE;
    width: 100%;
    /* height: 870px; */
    height: 100vh;
    /* padding: 10px; */
    min-height: 300px;
}

#about .about-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin-top: 5%;
}

#about .titlee h2 {
    color: #333;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    
    /* background-color: aqua; */
}

#about .titlee p {
    color: #333;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    /* background-color: rosybrown; */
}

#about .heading-line {
	margin:0 auto;
	display: block;
	height: 1px;
	width: 200px;
	background: #333;
	margin-top: 15px;
	margin-bottom: 15px;
}

#about .body{
    align-items: center;
    margin-top: 20px;
}

#about .body h5 {
    color: #777;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
    text-align: left;
    margin-left: 10px;
  }
  
#about .body p {
    line-height: 26px;
    text-align: left;
    margin-left: 10px;
  }
  
#about .body p:last-child {
    margin-bottom: 0;
  }


/*-------------------------
        Image
-------------------------*/
#pall-img {
    height: 320px;
    overflow: hidden;
    width: 100%;
    margin-top: -35px;
}

/*-------------------------
        Before-carousel
-------------------------*/

#Before {
    margin-bottom: 100px;
}

#Before .tilte h2 {
    color: #333;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5%;
    /* background-color: aqua; */
}

#Before .heading-line {
	margin:0 auto;
	display: block;
	height: 1px;
	width: 200px;
	background: #333;
	margin-top: 10px;
	margin-bottom: 20px;
}

#Before p {
    color: #34495E;
    font-size: 20px;
    font-weight: 700;
}

#Before h3 {
    color: #34495E;
    /* align-items: center; */
    /* position: relative; */
    font-size: 20px;
    font-weight: 100;
}

#Before .row{
    margin-bottom: 20px;
}

#Before .manual-img{
    text-align: center;
}

#Before .img-2{
    margin-left: 30px;
}

#Before .col-w{
    margin-top: 50px;
}

/*-------------------------
        After-container
-------------------------*/

#After {
    margin-bottom: 100px;
    background-color:#F2F3F4;
}

#After .tilte h2 {
    color: #333;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5%;
    /* background-color: aqua; */
}

#After .heading-line {
	margin:0 auto;
	display: block;
	height: 1px;
	width: 200px;
	background: #333;
	margin-top: 10px;
	margin-bottom: 20px;
}

#After .row-0 {
    margin-top: 100px;
}

#After .img-1 {
    margin-top: -250px;
    margin-left: 15px;
}

#After .img-2 {
    margin-top: -770px;
}

#After .img-3 {
    margin-top: -250px;
    margin-right: 80px;
}

#After p {
    color: #34495E;
    font-size: 20px;
    font-weight: 700;
}

#After h3 {
    color: #34495E;
    /* align-items: center; */
    /* position: relative; */
    font-size: 20px;
    font-weight: 100;
}

#After .row{
    margin-bottom: 20px;
}


/*-------------------------
        tool-cards
-------------------------*/
#tool {
    margin-top: 20px;
    margin-bottom: 90px;
    /* height: 70vh; */
    align-items: center;
    text-align: center;
    background-color:  #FDFEFE;
}

#tool .tilte h2 {
    color: #333;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5%;
    /* background-color: aqua; */
}

#tool .heading-line {
	margin:0 auto;
	display: block;
	height: 1px;
	width: 200px;
	background: #333;
	margin-top: 10px;
	margin-bottom: 20px;
}

#tool  p {
    color: #333;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    /* background-color: rosybrown; */
}

#tool h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#tool .card_1 image{
    width: auto;
    height: auto;
}

#tool .card_2 image{
    width: 40;
    height: 40;
}

#tool .card_3 image{
    width: 50%;
    height: 50%;
}

#tool .card_4 image{
    width: 20%;
    height: 20%;
}



/*-------------------------
        me-jumbotron
-------------------------*/

#about_me {
    background-color: gold;
    width: 100%;
    height: auto;
}

#about_me .about-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

#about_me h2 {
    color: #333;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    /* background-color: aqua; */
}

#about_me .titlee p {
    color: #333;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    /* background-color: rosybrown; */
}

#about_me .heading-line {
	margin:0 auto;
	display: block;
	height: 1px;
	width: 200px;
	background: #333;
	margin-top: 10px;
	margin-bottom: 20px;
}

#about_me .body h5 {
    color: #777;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
    text-align: left;
    margin-left: 10px;
  }
  
  #about_me .body p {
    line-height: 26px;
    text-align: left;
    margin-left: 10px;
  }
  
  #about_me .body p:last-child {
    margin-bottom: 0;
  }

/*-------------------------
        end-section
-------------------------*/

#end {
    background-color:#2E86C1;
    height: 100px;
    text-align: center;
    align-content: center;
    margin-top: -40px;
    margin-bottom: -20px;
}

#end h2 {
    color:white;
    font-weight: 300;
    font-size: 15px;

}

#end img{
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    margin-top: -50px
}

#end .tooltips{
    background-color: rebeccapurple;
    padding: '2px 10px';
    color: 'white';
    border: 3px;
}